@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  font-size: 16px;
}

.wrapper {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.sub-heading {
  position: relative;
}
.sub-heading::after {
  content: '';
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  width: 120px;
  height: 8px;
  background: #3b82f6;
  position: absolute;
}

@media screen and (max-width: 1024px) {
  .sub-heading::after {
    bottom: -20px;
    width: 100px;
    height: 5px;
  }
}
@media screen and (max-width: 768px) {
  .sub-heading::after {
    bottom: -12px;
    width: 80px;
    height: 5px;
  }
}

.info-card {
  background: #fff;
  width: 220px;
  padding: 1.125em;
  border-radius: 0.5em;
  box-shadow: 0 0 12px rgba(22, 197, 255, 0.6);
}

.info-card span {
  display: block;
  font-size: 0.875rem;
  color: #000;
}

.info-card__header {
  font-weight: 700;
}
.info-card__text {
  margin-top: 0.75em;
  font-weight: 600;
}

.button {
  border-radius: 3px;
  font-weight: 500;
  box-shadow: 0px 15px 11px -13px currentColor;
}
.button.text-white {
  box-shadow: 0px 15px 11px -13px rgba(6.000000000000005, 79.00000000000001, 181, 0.72);
}

.stat-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#top-nav {
  transition: all 500ms ease;
}

#top-nav.top-scrolled {
  background: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 500ms ease;
}

#top-nav #header {
  transition: all 500ms ease;
}

.top-scrolled #header {
  padding-top: 8px;
  padding-bottom: 8px;
  transition: all 500ms ease;
}

#navbar a {
  transition: all 500ms ease;
}

#navbar a:hover {
  color: #70baff;
}

.top-scrolled #navbar a {
  color: #1e293b;
}
.top-scrolled #navbar a:hover {
  color: #00adee;
}

#footer {
  background: url('./images/footer.png');
}
